Origin: XBian
Package: xbian-package-xbmc-scripts
Version: 1.0.1-13c
Section: video
Priority: optional
Architecture: armhf
Suggests: xbian-package-xbmc
Replaces: xbian-package-xbmc
Breaks: xbian-update (<<1.0-1.2), xbian-package-xbmc (<<2.9-10.9)
Maintainer: Koenkk <development@xbian.org>
Description: XBian XBMC upstart scripts.
